{% extends "base.html" %}
{% block content %}
<div id="registration-body">
    {% include "messageblock.html" %}
    <form action="" method="POST" class="login-form">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            <br>
            {{ form.username() }}
        </div>
        <div>
            {{ form.password.label }}
            <br>
            {{ form.password() }}
        </div>
        <div>{{ form.submit() }}</div>
    </form>
</div>
{% endblock %}