<!DOCTYPE html>
<html>
    <head>
        <title>Cloud Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <div id="navigation">
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.userprofile') }}">Profile</a></li>
                <li><a href="{{ url_for('main.eventlist') }}">Schedule</a></li>
            </ul>
        </div>
        <div id="main-content">
            <div id="loading-overlay"><span>Loading...</span></div>
            {%- block content %}{% endblock -%}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
        // Remove overlay once everything is loaded
        $(window).on('load', function(){
            $('#loading-overlay').fadeOut('fast');
        });
        // Add overlay when a link is clicked
        $(window).on('beforeunload', function(){
            $('#loading-overlay').fadeIn('fast');
        })
        </script>
        {%- block scripts %}{% endblock -%}
    </body>
</html>