/* Navigation bar */
#navigation
{
  z-index: 50;
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #333;
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  height: inherit;
} 
#navigation li {
  float: left;
}
#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navigation li a:hover {
  background-color: #111;
}

/* Main content base */
#main-content
{
  position: relative;
  top: 50px
}
h1, h2, h3
{
  margin: 0;
}

/* Loading overlay */
#loading-overlay
{
  z-index: 100;
  position: fixed;
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
  background-color: #333;
  color: white;
  font-size: 32px;
}
#loading-overlay span
{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* Event page */
.event-item
{
  width: 100%;
}
.event-item h3
{
  background-color: #333;
  font-size: 32px;
}
.event-item .ui-state-hover, .event-item .ui-state-active
{
  background-color: #111;
}
.event-title
{
  color: white;
}
.event-content
{
  padding: 20px;
  box-shadow: inset 0px 0px 0px 10px #111;
}
#event-list-options
{
  padding: 10px;
}

/* Event form */
#event-form
{
  padding: 10px;
}
#event-form input
{
  width: 250px;
}
#event-form textarea
{
  width: 250px;
}

/* User page */
#user-profile
{
  padding: 20px;
}
#profile-image
{
  width: 256px;
  height: 256px;
}
#profile-image-form
{
  position: relative;
}